<header class="header">
  <h1>Angular 2 Simple Reddit</h1>
</header>
<main>
  <section class="section section__form">
    <form class="form">
      <h2>Add a link</h2>
      <div class="form__group">
        <label for="title" class="form__label">Title:</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form__control"
          #newTitle
        />
      </div>
      <div class="form__group">
        <label for="link" class="form__label">Link:</label>
        <input
          type="text"
          name="link"
          id="link"
          class="form__control"
          #newLink
        />
      </div>
      <div class="form__group form__group--submit">
        <button
          type="submit"
          class="form__control form__control--submit"
          (click)="addArticle(newTitle, newLink)"
        >
          Submit Link
        </button>
      </div>
    </form>
  </section>

  <section class="posts">
    <app-article
      *ngFor="let article of sortedArticles()"
      [article]="article"
    ></app-article>
  </section>
</main>
